@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p><strong>Edelveis</strong></p>

<p>A free blog for a free people. Post whatever you like, say whatever you like. Find someone with <strong>SIMMILAR</strong> preferences, or make others to become interested in yours!</p>

<p><strong>Stack</strong></p>

<p><strong>C#, .NET, Razor Pages, SQL, Azure.</strong></p>

<p><strong>Usage</strong></p>

<p>I`M STILL WORKING ON THIS PART</p>

<p><strong>Contributing</strong></p>

<p><a href="https://github.com/aslobodyanuk"><strong>https://github.com/aslobodyanuk</strong></a></p>

<p><strong>Credits</strong></p>

<p><a href="https://www.w3schools.com/asp/webpages_intro.asp"><strong>https://www.w3schools.com/asp/webpages_intro.asp</strong></a>; </p>

<p><a href="https://www.w3schools.com/html/default.asp"><strong>https://www.w3schools.com/html/default.asp</strong></a>;</p>

<p><a href="https://www.w3schools.com/css/default.asp"><strong>https://www.w3schools.com/css/default.asp</strong></a>;</p>

